@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Montserrat';
}

// Navigation

.navigation{
    background: linear-gradient(to right, #f12711, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 1px 15px 0 #f5af19;
    position:relative;
    top:0;
    right:0;
    left:0;
    display:flex;
    justify-content: space-between;
    padding:1%;
    z-index: 1;

    .logo{
        flex:1;

        img{
            height:9vmin;
        }
    }

    ul{
        list-style-type: none;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        flex:1;

        li{
            font-size: 4vmin;
            position:relative;

            &::before{
                content:'';
                position:absolute;
                top:100%;
                width:0;
                outline:1px solid;
                outline-color: transparent;
                transition: width .3s, outline-color .3s;
            }

            &:hover::before{
                width:100%;
                outline-color: white;
            }

            a{
                color:white;
                text-decoration:none;
            }
        }
    }
}

// Welcome section

.welcomeSection{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:relative;
    height:100vh;
    background-image: url('./images/welcomeSectionBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 2vmax;
    color:white;
    
    &::before{
        content:'';
        position:absolute;
        height:100%;
        width:100%;
        background-color: rgba(0, 0, 0, .3);
    }

    *{
        position:relative;
    }

    h1{
        display:flex;
        flex-direction: column;
        text-align: center;
        text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);

        span{
            font-family: 'Lobster';
        }
    }

    .title{
        
        .first_word{
            position:relative;
            animation: slideLeft 3s;
        }
        .second_word{
            position:relative;
            animation: slideRight 3s;
        }
    }

    p{
        padding-top: 3%;
    }
    
}

// Welcome section animation

@keyframes slideLeft{
    from{
        right:100px;
        opacity: 0;
    }
    to{
        right:0px;
        opacity:1;
    }
}

@keyframes slideRight{
    from{
        left:100px;
        opacity:0;
    }
    to{
        left:0px;
        opacity:1;
    }
}

// Offer section

.offer{

    .offer_section_header{
        font-size: 2rem;
        text-align: center;
        margin:4% 0 8%;
    }

    section:nth-child(odd){
        flex-direction: row-reverse;
        
        img{
            margin:0 0 0 4%;
            border-radius: 0 4%;
        }

        .section_description{
            direction: rtl;
        }
    }

    section{
        margin: 5%;
        display:flex;
        
        img{
            position:relative;
            flex:1;
            width:150px;
            align-self: stretch;
            object-fit: cover;
            margin:0 4% 0 0;
            border-radius: 4% 0;
            filter: grayscale(100%);
            transition:filter .3s;
        }

        img:hover{
            filter:grayscale(0);
        }

        .section_description{
            flex:1;

            h1{
                margin-bottom: 5%;
            }
        }
    }
}

// Products section
.products{
    height:100vh;
    background-color: tomato;

    
}